# Switch DB: postgres or mongo
DATABASE_TYPE=postgres

# Postgres

POSTGRES_URL=
# Mongo
MONGO_URI=

# Redis toggle
REDIS_ENABLED=
REDIS_HOST=
REDIS_PORT=

# JWT
# JWT_SECRET=supersecretkey
# JWT_EXPIRES_IN=900
# JWT_REFRESH_EXPIRES_IN=604800

JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----"

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----"
JWT_KEY_ID="sms-key-2026-01"
JWT_ISSUER="sms-identity"
JWT_AUDIENCE="sms-api"
JWT_EXPIRES_IN=90000
JWT_REFRESH_EXPIRES_IN=604800



PORT=3004

# RabbitMQ (optional for notifications)
RABBITMQ_URL=
SWAGGER_SERVER_URL=`http://localhost:${PORT}`
